{
  "extends": [
    "plugin:mocha/recommended"
  ],
  "env": {
      "node": true,
      "mocha": true
  },
  "plugins": [
      "mocha"
  ],
  "parserOptions": {
      "ecmaVersion": 9
  },
  "rules": {
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true } }],
    "no-else-return": ["error", {"allowElseIf": true}],
    "max-params": ["error", 5],
    "no-await-in-loop": "off"
  }
}

