[submodule "contracts_common"]
	path = src/contracts_common
	url = git@github.com:pixowl/contracts_common.git
[submodule "sandbox-subgraph"]
	path = sandbox-subgraph
	url = git@github.com:thesandboxgame/sandbox-subgraph.git
