.DS_Store
node_modules/*
!src/node_modules
build/
artifacts/
cache/
yarn-error.log

coverage/
coverage.json
.coverage_*

.vscode/*
!.vscode/settings.json.default
!.vscode/extensions.json


.google_credentials.json
token.json
.bitski*
.mythx_credentials*
.mnemonic*
.temporal*
.sandbox_credentials

.land_presale*
.land_sale*
.partners_Sale**
.presale_*
presale_2*
.backend_signer_privateKey
.etherscan_*
giveaway.json
.proofs*

deployments/buidlerevm*
deployments/localhost*
