node_modules/
build/
yarn-error.log
credentials.json
token.json
tmp_deployments/
.nyc_output/
.geth.log
.bitski*
.mythx_credentials*
.mnemonic*
.DS_Store
.temporal*
__ipfs__/
.sandbox_credentials
.land_presale*
.presale_2*
presale_2*
