site_name: The Sandbox Game
site_url: https://the-sandbox-game.readthedocs.io
theme:
  name: material
  features:
    - navigation.indexes
nav:
  - Getting started:
      - Install: intro/index.md
      - Running the tests: intro/running-tests.md
      - Setting environment variables: intro/setting-environment-variables.md
  - How to:
      - Fixing tests: howto/fixing-tests.md
      - Preparing a LAND sale: howto/preparing-land-sale.md
      - Preparing an ASSET giveaway: howto/preparing-asset-giveaway.md
      - Generating liquidity pool rewards: howto/generating-liquidity-pool-rewards.md
      - Running a lottery: howto/running-lottery.md
  - Tutorials:
      - Developing your first feature: tutorials/developing-first-feature.md
      - Writing documentation: tutorials/writing-documentation.md
  - Topics:
      - Blockchain:
          - Ethereum: topics/blockchain/ethereum.md
          - Features: topics/blockchain/features.md
      - Polygon:
          - Polygon at Sandbox: topics/polygon/polygon.md
      - Asset:
          - Asset: topics/asset/asset.md
          - Asset attributes registry: topics/asset/asset-attributes-registry.md
          - Asset minter: topics/asset/asset-minter.md
          - Asset upgrader: topics/asset/asset-upgrader.md
          - Giveaway:
              - Single: topics/asset/giveaway/single.md
              - Multiple: topics/asset/giveaway/multiple.md
      - Solidity:
          - Guideline: topics/guideline/solidity.md
      - DeFi:
          - Liquidity provider:
              - SAND staking: topics/defi/liquidity-provider/sand-staking.md
      - Catalyst:
          - Gems & catalysts: topics/catalyst/catalyst.md
      - Sand:
          - Sand Token: topics/sand/sand-token.md
          - Bundle Sand Sale: topics/sand/bundle-sand-sale.md
      - Token:
          - ERC20: topics/token/ERC20.md
          - ERC1155721: topics/token/ERC1155721.md

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - toc:
      permalink: '#'
  - plantuml_markdown:
      server: http://www.plantuml.com/plantuml
